.about {
margin: 1rem;
text-indent: 2rem;
font-weight: bold; 
}

@media (max-width: 600px) {

.largeHero {
  display: none;
}

.heroMobile{
  width: 100%;
  height: auto;
}

.about {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(255, 133, 89, 0.8);
}
}

@media screen and (min-width: 600px) {
  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;   
  }

  .hero img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

  .heroMobile {
    display: none;
  }

.hero h2 {
    white-space: nowrap;
    margin: 0;
}

  .hero h2 {
    margin: 0;
    font-size: 2.5rem;
  }

  .about {
    font-size: 1rem;
    position: absolute;
    width: 90%;
    background-color: rgba(255, 133, 89, 0.8);
    padding: .3rem;  
    max-width: 1100px;
    border-radius: 20px; 
    box-sizing: border-box; 
    top: 60%;
}

.hero section {
    position: absolute;
    min-width: fit-content;
    max-width: 90%;
    text-align: center;
    background-color: rgba(255, 125, 65, 0.8);
    padding: 1rem;
    border-radius: 20px;
}

}

