:root {
  --primary-color: #FF8559;
  --secondary-color: #24acff;
  --accent1-color: white;
  --accent2-color: #a3af9e;
  --text-color: #0c1c00;
  --heading-font: "Quantico", sans-serif;
  --body-font: "Oxanium", sans-serif;
}

* {
  color: var(--text-color);
  font-family: var(--body-font);
  box-sizing: border-box;
}

header {
background-color: var(--primary-color);
font-family: var(--heading-font);
padding: 0 1rem;
display: flex;
justify-content: space-between;
align-items: center;
}

h1, h2, h3 {
  font-family: var(--heading-font);
}

#nav-menu {
position: absolute;
top: 5rem;
right: 10%;
background-color: var(--secondary-color);
padding: 0.5rem 1rem;
border-radius: 4px;
border: 2px solid var(--primary-color);
z-index: 10;
width: 25rem;
justify-content: space-evenly;
}

nav ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
font-family: var(--body-font);
font-size: 1rem;
width: 100%;
justify-content: space-evenly;
}

nav ul li a {
text-decoration: none;
padding: 4px 4px;
border: 4px solid transparent;
border-radius: 4px;
box-sizing: border-box;
transition: all 0.3s ease;
}

nav ul li a:hover {
background-color: var(--accent1-color);
border-color: var(--accent2-color);
}

nav a.active {
    font-weight: bold;
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* Table css start */
.table-container {
    overflow-x: auto; /* enables horizontal scrolling */
    width: 100%; /* container takes full width */
    padding-top: 2rem;
}

#itemsTable,
.stocksummary {
    border-collapse: collapse;
    width: max-content; /* allows table to expand beyond container */
    table-layout: fixed;
}

#itemsTable th,
#itemsTable td,
.stocksummary th,
.stocksummary td {
    /* min-width: 10rem; */
    /* ^^disable upon request^^*/
    width: max-content;
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    overflow: auto;
    resize: horizontal;
}

#itemsTable th,
.stocksummary th {
    background-color: rgb(185, 185, 185); /*I know its not a standard color, Needed for visability*/
    text-align: center;
}

#itemsTable tr:nth-child(even),
.stocksummary tr:nth-child(even) {
    background-color: rgb(223, 223, 223); /*I know its not a standard color, Needed for visability*/
}

#itemsTable tr:hover,
.stocksummary tr:hover {
    background-color: var(--accent2-color);
}
/*Table css end*/




@media (max-width: 600px) {

.largeHero {
  display: none;
}

.heroMobile{
  width: 100%;
  height: auto;
}

header {
  background-color: var(--primary-color);
  font-family: var(--heading-font);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: var(--body-font);
  font-size: 1rem;
}

nav ul li {
  margin-block: 0.2rem;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
}

#nav-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  position: absolute;
  top: 120px;
  right: 20px;
  padding: 0.5rem;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}

#nav-menu.open {
  display: flex;
}

#nav-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.hamburger {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.view-toggle {
  display: none;
}

#noMobile {
  display: none;
}
}

