.table-container {
    overflow-x: auto;       /* enables horizontal scrolling */
    width: 100%;            /* container takes full width */
    padding-top: 2rem;
}

.stocksummary {
    border-collapse: collapse;
    width: max-content;     /* allows table to expand beyond container */
    table-layout: fixed;
}

.stocksummary th,
.stocksummary td {
    min-width: 10rem; /*disable upon request*/
    width: max-content;
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    overflow: auto;
    resize: horizontal;
}

.stocksummary th {
    background-color: var(--table-header-color);
    text-align: center;
}

.stocksummary tr:nth-child(even) {
    background-color: var(--even-row-color);
}

.stocksummary tr:hover {
    background-color: var(--background-color);
    color: var(--accent1-color);
}

/* Overlay */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);
    z-index: 99;
}

/* Modal Box */
.modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    z-index: 100;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.modal-close {
    position: absolute;
    top: 6px;
    right: 8px;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.lpn-click {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.modal-content img {
    margin: 0.5rem 0 1rem 0;
}